.glass {
    width: 36px;
    height: 36px;

}

.edit,
.delete {
    width: 16px;
    height: 16px;
}



.itemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 534px;
    height: 36px;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.itemWrapper::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #D7E3FF;
    position: absolute;
    bottom: -12px;
}

.svgWrapper {
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.amount {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #407BFF;
}

.date {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.dateAmount {
    height: 100%;
    display: flex;
    flex-direction: row;

}

.dateAmount p {
    margin: 0;
}

.infoWrapper {
    display: flex;
    flex-direction: row;
    min-width: 158px;
    gap: 16px;
    align-items: center;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button:hover .underline {
    border-bottom: 1px solid #9EBBFF;

}

.button:hover .underlineRed {
    border-bottom: 1px solid #EF5050;
}

.button:focus,
.button:active {
    outline: none;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    z-index: 1001;
    width: 100%;
}

.closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.modalDelete {
    width: 592px;
    height: 208px;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    border-radius: 10px;
    background-color: #fff;
    padding: 32px 24px;
    box-sizing: border-box;
}



.deleteEntry {
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin-top: 0;
}

.sure {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    margin: 0;
}

.deleteQuestion{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.crossSvg {
    position: absolute;
    top: 36px;
    right: 24px;
}

.choiseBtns {
    display: flex;
    flex-direction: row;
    /* width: 344px; */
    height: 44px;
    gap: 24px;
    justify-content: flex-end;

}

.choiseBtns button {
    width: 160px;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
}

.choiseBtns button:first-child {
    background-color: #D7E3FF;
    color: #407BFF;
}

.choiseBtns button:last-child {
    background-color: #EF5050;
    color: #fff;
    box-shadow: 0 4px 8px 0 #407BFF57;
}


@media screen and (min-width: 768px) {
    .itemWrapper {
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .itemWrapper {
        width: 100%;
        height: 26px;
    }
    .infoWrapper {
        min-width: 0;
    }
    .glass{
        width: 26px;
        height: 26px;
    }
}


@media screen and (max-width: 767px){
    .modalDelete {
        width: 280px;
        height: 280px;
    }

    .choiseBtns{
        flex-direction: column;
        width: 232px;
        height: 96px;
    }
    .choiseBtns button {
        width: 100%;
    }
}