.sectionForm {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: calc(100vh - 65px);
  background-image: image-set(
    url(../../assets/images/background/Forfot_Update_Password/sign-in-out-mobile.png)
      1x,
    url(../../assets/images/background/Forfot_Update_Password/sign-in-out-mobile-2x.png)
      2x
  );
}
.titleFormThumb {
  width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.redirektLink {
  margin-top: 16px;
  font: weight 400px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--PRIMERY-BLUE);
}

@media screen and (min-width: 768px) {
  .sectionForm {
    background-position: top center;
    background-size: contain;
    background-image: image-set(
      url(../../assets/images/background/Forfot_Update_Password/botle-sign-in-tablet.png)
        1x,
      url(../../assets/images/background/Forfot_Update_Password/botle-sign-in-tablet-2x.png)
        2x
    );
  }
}

@media screen and (min-width: 1440px) {
  .sectionForm {
    background-position: bottom left;
    background-image: image-set(
      url(../../assets/images/background/Forfot_Update_Password/sign-in-out-desktop.png)
        1x,
      url(../../assets/images/background/Forfot_Update_Password/sign-in-out-desktop-2x.png)
        2x
    );
  }
}
@media screen and (max-width: 767px) {
  .resetPasswordContainer {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}
.resetPasswordContainer {
  padding-top: 40px;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 16px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputError {
  color: var(--SECONDARY-RED);
  border-color: var(--SECONDARY-RED);
}

.inputError:active,
.inputError:focus {
  color: var(--SECONDARY-RED);
  border-color: var(--SECONDARY-RED);
}

.containerEmail {
  margin-bottom: 16px;
}

.textInput {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
}

input.inputError {
  border-color: var(--SECONDARY-RED);
  color: var(--SECONDARY-RED);
}

.inputField:active,
.inputField:focus {
  color: var(--PRIMERY-BLUE);
}

.inputField::placeholder {
  font-size: 16px;
  color: var(--SECONDARY-BLUE);
}

.inputField {
  color: rgb(64, 123, 255);
  padding: 12px 10px;
  border: 1px solid var(--SECONDARY-GRAY);
  border-radius: 6px;
  height: 44px;
  width: 100%;
  font-size: 16px;
  background: var(--PRIMERY-WHITE);
}

.errorText {
  margin-top: 8px;
  display: flex;
  margin-bottom: 8px;
  color: rgb(239, 80, 80);
}

.buttonForm {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  padding: 8px 30px;
  color: var(--PRIMERY-WHITE);
  background: var(--PRIMERY-BLUE);
  border: 0.01px solid var(--PRIMERY-BLUE);
  margin-left: 0;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);

  width: 100%;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98) 0s;
}

.buttonForm:hover,
.buttonForm:focus {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.buttonForm:active {
  box-shadow: none;
}

.redirectLink {
  font-size: 16px;
  margin-top: 16px;
  width: 50px;
  color: var(--PRIMERY-BLUE);
  display: flex;
  justify-content: flex-start;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98) 0s;
}

.redirectLink:hover {
  color: var(--SECONDARY-ORANGE);
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 336px;
  }

  .inputField::placeholder {
    font-size: 16px;
  }

  .buttonForm {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 133%;
  }
  .titleFormThumb {
    width: 336px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .resetPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-right: 216px;
    padding-top: 162px;
  }

  .titleFormThumb {
    width: 384px;
    align-self: flex-end;
  }

  .formContainer {
    align-self: flex-end;
    width: 384px;
  }
}
