@media (max-width: 767px) {
  /* Основні стилі */
  .signup_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 320px;
    height: 100vh;
    background-image: url("../../assets/images/background/mobile/Background-m-MainPage.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center 20px;
    margin: 0 auto;
  }

  .form_container {
    max-width: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    order: 1;
    z-index: 2;
  }

  .block_name {
    font-size: 26px;
    font-weight: 500;
    line-height: 32px;
    width: 100%;
  }

  .image_container {
    margin-top: -26px;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
    order: 2;
  }

  .img {
    margin-left: 20px;
    width: 280px;
    height: 210px;
    flex-shrink: 0;
  }

  /* Медіа-запит для мобільних пристроїв */
  .signin_container {
    width: 100%;
  }

  .form_container {
    max-width: 280px;
    margin: 0 auto;
  }

  .image_container {
    width: 320px; /* Зменшений розмір для мобільних пристроїв */
    height: auto;
  }
}
