.water_consumption_tracker {
  margin-bottom: 40px;
}

.title {
  font-size: 28px inherit;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.05em;
  text-align: left;
  margin-bottom: 16px;
}
.title_record {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 24px;
  padding-right: 30px;
}

.title_list {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
}

.tracker_benefits {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.benefit_item {
  display: flex;
  align-items: center;
}

.icon_svg {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.benefit_discrip {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0;
  text-align: left;
}

.button {
  min-width: 280px;
  padding: 8px 30px 8px 30px;
  border-radius: 10px;
  border-color: transparent;
  color: var(--PRIMERY-WHITE);
  box-shadow: 0px 4px 8px 0px rgba(64, 123, 255, 0.34);
  background-color: var(--PRIMERY-BLUE);
}

@media (min-width: 768px) {
  .tracker_benefits {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .tracker_benefits {
    flex-direction: column;
    justify-content: space-between;
  }

  .button {
    width: 384px;
  }
}
