.why_drink_water {
  margin-bottom: 40px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.3);
  background: var(--SECONDARY-WHITE);
}
.title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0;
  text-align: left;
  margin-bottom: 12px;
}

.list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.list_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 16px;
}

.list_item:last-child {
  margin-bottom: 0px;
}

.disc {
  background-color: var(--PRIMERY-BLUE);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
  padding-right: 8px;
}

.item_text {
  font-weight: 400;
}

@media (min-width: 768px) {
  .why_drink_water {
    width: 494px;
    padding: 32px 24px 32px 24px;
    margin-bottom: 0;
  }

  .list {
    gap: 2px;
  }
}

@media (min-width: 1440px) {
  .why_drink_water {
    margin-top: 50px;
  }
}
