.sectionForm {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: calc(100vh - 65px);
  background-image: image-set(
    url(../../assets/images/background/Forfot_Update_Password/sign-in-out-mobile.png)
      1x,
    url(../../assets/images/background/Forfot_Update_Password/sign-in-out-mobile-2x.png)
      2x
  );
}
.titleFormThumb {
  width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 32px;
}

@media screen and (min-width: 768px) {
  .sectionForm {
    background-position: top center;
    background-size: contain;
    background-image: image-set(
      url(../../assets/images/background/Forfot_Update_Password/botle-sign-in-tablet.png)
        1x,
      url(../../assets/images/background/Forfot_Update_Password/botle-sign-in-tablet-2x.png)
        2x
    );
  }
}

@media screen and (min-width: 1440px) {
  .sectionForm {
    background-position: bottom left;
    background-image: image-set(
      url(../../assets/images/background/Forfot_Update_Password/sign-in-out-desktop.png)
        1x,
      url(../../assets/images/background/Forfot_Update_Password/sign-in-out-desktop-2x.png)
        2x
    );
  }
  .titleFormThumb {
    margin-right: 216px;
  }
}
@media screen and (max-width: 767px) {
  .Container {
    padding-top: 40px;
    display: flex;
    justify-content: center;
  }
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.23;
  margin-bottom: 16px;
}

.titleForm {
  display: flex;
  font-weight: 500;
  font-size: 26px;
  line-height: 123%;
  margin-bottom: 16px;
  color: var(--PRIMERY-BLACK);
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.inputError {
  color: var(--SECONDARY-RED);
  border-color: var(--SECONDARY-RED);
}

.inputError:active,
.inputError:focus {
  color: var(--SECONDARY-RED);
  border-color: var(--SECONDARY-RED);
}

.containerEmail {
  margin-bottom: 16px;
}

.textInput {
  font-size: 18px;
  margin-bottom: 8px;
  display: flex;
}

input.inputError {
  border-color: var(--SECONDARY-RED);
  color: var(--SECONDARY-RED);
}

.inputField:active,
.inputField:focus {
  color: var(--PRIMERY-BLUE);
}

.inputField::placeholder {
  font-size: 16px;
  color: var(--SECONDARY-BLUE);
}

.iconField {
  fill: none;
  stroke: var(--PRIMERY-BLUE);
}

.inputField {
  color: rgb(64, 123, 255);
  padding: 12px 10px;
  border: 1px solid var(--SECONDARY-GRAY);
  border-radius: 6px;
  height: 44px;
  width: 100%;
  font-size: 16px;
  background: var(--PRIMERY-WHITE);
  margin-bottom: 16px;
}

.inputWithIcon {
  position: relative;
}

.errorText {
  margin-top: 8px;
  display: flex;
  margin-bottom: 8px;
  color: rgb(239, 80, 80);
}

.inputWithIcon .iconField {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.buttonForm {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  padding: 8px 30px;
  color: var(--PRIMERY-WHITE);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: var(--PRIMERY-BLUE);
  border: 0.01px solid var(--PRIMERY-BLUE);
  width: 100%;
  /* For loader */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.25s cubic-bezier(0.7, 0.98, 0.86, 0.98) 0s;
}

.buttonForm:hover {
  box-shadow: 0px 4px 14px 0px rgba(64, 123, 255, 0.54);
}

.redirectLink {
  font-size: 16px;
  margin-top: 16px;
  color: var(--PRIMERY-BLUE);
  display: flex;
  justify-content: flex-start;
}

.redirectForgot {
  font-size: 16px;
  margin-top: 16px;
  color: var(--PRIMERY-BLUE);
  display: flex;
  justify-content: flex-start;
  margin-bottom: 66px;
}

.linkForm {
  text-decoration: none;
  color: var(--PRIMERY-BLUE);
}

.linkForm:hover {
  color: var(--SECONDARY-ORANGE);
}

@media screen and (min-width: 768px) {
  .formContainer {
    width: 336px;
  }
  .Container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
  }
  .inputField::placeholder {
    font-size: 16px;
  }

  .buttonForm {
    padding: 10px 30px;
    font-size: 18px;
    line-height: 133%;
  }
}

@media screen and (min-width: 1440px) {
  .Container {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 104px;
    padding-top: 162px;
  }

  .formContainer {
    width: 384px;
  }
}
