/*=================Mobile=================*/
.homeContainer {
  background-image: url("../../assets/images/home-page/bubbles-home-page/Mobile-Bubbles-Home-Page@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 24px;
}

.homeBotle {
  width: 280px;
  height: 208px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../assets/images/home-page/bottle-home-page/Mobile-Botle-Home-screen@1x.png");
}
@media (min-resolution: 192dpi),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .homeContainer {
    background-image: url("../../assets/images/home-page/bubbles-home-page/Mobile-Bubbles-Home-Page@2x.png");
  }
  .homeBotle {
    background-image: url("../../assets/images/home-page/bottle-home-page/Mobile-Botle-Home-screen@2x.png");
  }
}

.dailyBox {
  border: 1px solid #ecf2ff;
  background-color: #fff;
  border-radius: 10px;
  padding: 8px 20px;
  width: 164px;
  height: 74px;
  box-shadow: 0 4px 8px 0 rgba(158, 187, 255, 0.12);
  margin-left: 20px;
  margin-top: 52px;
}
.waterRatioPanel {
  margin-top: 40px;
  height: 134px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}
.tableWrapper {
  margin-top: 40px;
  width: 280px;
  height: 836px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #ecf2ff;
  margin-left: auto;
  margin-right: auto;
}

/*=================Tablet=================*/
@media screen and (min-width: 768px) {
  .homeContainer {
    width: 764px;
    height: 1280px;
    margin-top: 24px;
    background-image: url("../../assets/images/home-page/bubbles-home-page/Tablet-Bubbles-Home-Page@1x.png");
    background-size: contain;
    position: relative;
  }

  .homeBotle {
    width: 518px;
    height: 386px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../../assets/images/home-page/bottle-home-page/Tablet-Botle-Home-screen@1x.png");
    position: absolute;
    top: 16px;
    left: 125px;
  }

  @media (min-resolution: 192dpi),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .homeContainer {
      background-image: url("../../assets/images/home-page/bubbles-home-page/Tablet-Bubbles-Home-Page@2x.png");
    }
    .homeBotle {
      background-image: url("../../assets/images/home-page/bottle-home-page/Tablet-Botle-Home-screen@2x.png");
    }
  }

  .dailyBox {
    position: absolute;
    height: 76px;
    margin-top: 16px;
    margin-left: 32px;
  }

  .waterRatioPanel {
    position: absolute;
    width: 704px;
    height: 90px;
    top: 418px;
    margin-top: 0;
    left: 32px;
  }

  .tableWrapper {
    position: absolute;
    width: 704px;
    top: 548px;
    margin-top: 0;
    left: 32px;
  }
}

/*=================Desk=================*/
@media screen and (min-width: 1440px) {
  .homeContainer {
    width: 1440px;
    height: 582px;
    margin-top: 58px;
    background-image: url("../../assets/images/home-page/bubbles-home-page/Desk-Bubbles-Home-Page@1x.png");
    position: relative;
  }

  .homeBotle {
    position: absolute;
    background-image: url("../../assets/images/home-page/bottle-home-page/Desk-Botle-Home-screen@1x.png");
    width: 738px;
    height: 548px;
    left: 38.67px;
    background-repeat: no-repeat;
    background-size: contain;
    top: -36px;
  }
  .dailyBox {
    position: absolute;
    height: 76px;
    top: -6px;
    left: 112px;
    margin-left: 0;
    margin-top: 0;
  }

  .waterRatioPanel {
    position: absolute;
    width: 592px;
    height: 90px;
    top: 508px;
    margin-top: 24px;
    left: 112px;
  }

  .tableWrapper {
    position: absolute;
    width: 592px;
    height: 680px;
    top: 548px;
    margin-top: 0;
    left: 736px;
    top: -36px;
  }
}
